## EAE - Introduction to Programming Languages for Data 
## Assignment 03 - Group Assignment - 10/12/2025


### Instructor:  
Enric Domingo  
edomingod@professional.eae.es


### Students:
Names: Maria Isabel Ortiz and Hyerim Hong
Emails: mortizn@student.eae.es and hhong@student.eae.es

### Submission Date: 28/12/2025 


### Instructions:

Find a dataset of your interest (you can use Kaggle, UCI Machine Learning Repository, or any other public source). The dataset should be in CSV format and contain between 500 and 2000 rows and between 5 and 10 columns. If you find one with more data, feel free to filter it down to the required size.
Using Python and SQL, perform the following tasks:
1. Share the dataset source link, a brief description of its content and your motivation for choosing it.
2. Load the dataset using Pandas.
3. Make some basic data profiling (statistics about the data, distributions, missing values, etc.) using Pandas methods.
4. Create 2 new useful or interesting columns based on other existing columns in the dataset (e.g., a ratio, a category based on numerical values, etc.).
5. Make 3 interesting observations about the data based on your analysis, using Pandas queries and Matplotlib visualizations. Add storytelling in Markdown cells to explain your findings and why they are interesting/relevant.
6. Using Pandas again, export the modified dataset to a new CSV file.

Similar examples of these tasks are every one of the 3 individual sub-projects of the Final Project, especially the 2nd and 3rd ones.

Don't ask ChatGPT or any other AI tools to generate code for you. You can use them for guidance, but the final code must be your own work!


### Topics Covered:

- Python Basics
- Numpy
- Pandas
- Matplotlib

In [1]:
!pip install pandas numpy matplotlib seaborn scikit-learn

Requirement already satisfied: pandas in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (1.26.4)
Requirement already satisfied: matplotlib in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\miona\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.61.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\miona\appdata\roaming\python\python310\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=8 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\miona\appdata\roaming\python\python310\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: scipy>=1.3.2 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\miona\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: six>=1.5 in c:\users\miona\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\miona\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\miona\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\miona\appdata\local\programs\python\python310\lib\site-packages)

In [2]:
# Your Code and Markdown cells from here onwards, feel free to add more cells as needed.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# visualization of dataset
ruta = "C:/Users/miona/OneDrive/Documents/Documentos - EAE/Intro to Python/Most Streamed Spotify Songs 2024.csv"
df = pd.read_csv(ruta)
df

,Track,Album Name,Artist,Release Date,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,1,725.4,"390,470,936","30,716","196,631,588",92.0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,2,545.9,"323,703,884","28,113","174,597,137",92.0
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,3,538.4,"601,309,283","54,331","211,607,669",92.0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,4,444.9,"2,031,280,633","269,802","136,569,078",85.0
4,Houdini,Houdini,Eminem,5/31/2024,5,423.3,"107,034,922","7,223","151,469,874",88.0
...,...,...,...,...,...,...,...,...,...,...
1994,Tï¿½ï¿½ï¿½t Bï¿½ï¿½n,Tï¿½ï¿½ï¿½t Bï¿½ï¿½n,Hana Cï¿½ï¿½ï¿½m,1/3/2023,"1,994",32.3,"558,538",63,"2,483",30.0
1995,Aigiri Nandini,Numinosum,Nagavalli,2/10/2023,"1,998",32.3,NaN,5,"4,173",NaN
1996,Rolex,Rolex,Ayo & Teo,3/15/2017,"1,996",32.3,"491,634,627","75,806","13,437,276",62.0
1997,on one tonight,One of Wun,Gunna,5/10/2024,"1,986",32.3,"28,658,023","4,184","26,150,391",77.0
1998,You & Me - Rivo Remix,You & Me (Rivo Remix),Disclosure,12/22/2023,"1,995",32.3,"76,959,761","18,706","48,962,409",76.0

In [4]:
for col in ['Spotify Streams', 'Spotify Playlist Reach', 'Track Score']:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col].astype(str).str.replace(',', ''), errors='coerce')
df

,Track,Album Name,Artist,Release Date,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,1,725.4,3.904709e+08,"30,716",196631588.0,92.0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,2,545.9,3.237039e+08,"28,113",174597137.0,92.0
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,3,538.4,6.013093e+08,"54,331",211607669.0,92.0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,4,444.9,2.031281e+09,"269,802",136569078.0,85.0
4,Houdini,Houdini,Eminem,5/31/2024,5,423.3,1.070349e+08,"7,223",151469874.0,88.0
...,...,...,...,...,...,...,...,...,...,...
1994,Tï¿½ï¿½ï¿½t Bï¿½ï¿½n,Tï¿½ï¿½ï¿½t Bï¿½ï¿½n,Hana Cï¿½ï¿½ï¿½m,1/3/2023,"1,994",32.3,5.585380e+05,63,2483.0,30.0
1995,Aigiri Nandini,Numinosum,Nagavalli,2/10/2023,"1,998",32.3,NaN,5,4173.0,NaN
1996,Rolex,Rolex,Ayo & Teo,3/15/2017,"1,996",32.3,4.916346e+08,"75,806",13437276.0,62.0
1997,on one tonight,One of Wun,Gunna,5/10/2024,"1,986",32.3,2.865802e+07,"4,184",26150391.0,77.0
1998,You & Me - Rivo Remix,You & Me (Rivo Remix),Disclosure,12/22/2023,"1,995",32.3,7.695976e+07,"18,706",48962409.0,76.0

In [5]:
styled_df = df.head(20).style \
    .background_gradient(cmap='Greens', subset=['Spotify Streams']) \
    .highlight_max(color='lightgreen', subset=['Spotify Popularity']) \
    .highlight_min(color='#cd5c5c', subset=['Spotify Popularity']) \
    .format(precision=2) \
    .set_properties(**{'text-align': 'center', 'border': '1px solid black'}) \
    .set_caption("Resumen de Dataset de YouTube")
styled_df